// This File contains Variables fot the Neonsoft Page

// Colors

$white: #fff;
$primary: #3299ff;
$secondary: #1ac888;

// Border Radius and Thickness Properties

$border-radius: 1.25rem;
$border-thickness: 1px * 2.5px;

// Font Properties

$font-size: $border-radius;
$font-weight: bold;
$font-family: 'Segoe UI';